.navbar{
    display: inline;
    width: 100%;
    background-color: #363535;
    color:#ffffff;
    text-align: right;
    justify-content: flex-end;
    padding: 20px;
}

.right{
    position: absolute;
    display: inline-block;
    left: 5%;
}


.logo{
    position: absolute;
    right: 10%;
}